@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import 'colors.css';


body{
  margin: 0;
  background-color: var(--neutral-color);
  font-family: 'Work Sans', sans-serif;
  color: var(--secondary-color);
  font-weight: 400;
}

.container{
  width: 80%;
  padding: 0;
  margin:0 auto;
}

main{
  margin: 1em;
}

/* Navbar begins here */
header{
  background-color: var(--secondary-color);
  color: var(--link-color);
  position: fixed;
  width: 100%;
}
header::after{
  content: '';
  display: table;
  clear:both;
}

.logo {
  float: left;
  border: 1px solid black;
  /* padding: 5px 10px;
  font-size: 1.3em; */
}

nav{
  float: right;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  
  
  position:relative
}

nav a{
  color: var(--link-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover{
  color: hsl(0, 0%, 0%);
}

nav a::before{
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  background-color: var(--link-color);

  position: absolute;
  top: 0;

  transition: all ease-in-out 250ms;

}

nav a:hover::before{
  width: 100%;

}

/* Navbar ends  */

main a:hover{
  color: var(--link-color-hover);
}

/* main img treatment  */

#profile {
  border-radius: 50px;
  margin-top: 5%;
}

.imgPattern{
  height: 15px;
  width: 15px;
}


/* btn treatment  */

.neon-btn{
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin-top: 50px;
  margin-left: 50%;

  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  border-radius: .25em;
  padding: 0.25em 1em;


  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5),
  0 0 .25em currentColor;

  box-shadow: 0 0 1em 0 var(--clr-neon),
  inset 0 0 1em 0 var(--clr-neon);

  position: relative;

  transition: background-color 100ms linear;
}

.neon-btn::before{
  pointer-events: none;
  content: '';
  position: absolute;

  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1.5em);
  opacity: .7;

}


.neon-btn::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;

  transition: opacity 100ms linear;
}


.neon-btn:hover,
.neon-btn:focus{
  background: var(--clr-neon);
  color: var(--neutral-color);
  text-shadow: none;
}

.neon-btn:hover::after{
  opacity: 1;
}

